nav{
    background-color: #333;
}

nav a {
    color: #fff;
}

nav ul ul a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

nav ul ul a:hover{
    background-color: #ddd;
}

